.hidden {
  display: none;
}

.playlist-dropdown {
  position: absolute;
  background-color: #282828;
  width: 200px;
  height: 90px;
  display: flex;
  flex-direction: column;
  outline: none;
  list-style: none;
  border-radius: 3px;

}
