.signup-page, .login-page {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
}

.signup-page > .title, 
.login-page > .title {
  padding: 40px;
  width: 100%;
  border-bottom: solid 1px black;
  background-color: grey;
  display: flex;
  justify-content: center;
}

.login-page > h3,
.signup-form > h3 {
  margin: 12px;
  font-size: 16px;
}

.title > h1 {
  color: white;
  font-size: 30px;
  width: fit-content;
}

.login-form,
.signup-form {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form > ul > li,
.signup-form > ul > li {
  list-style-type: none;
  font-size: 12px;
  padding: 14px;
  background-color: orange;
  width: 420px;
  color: white;
  text-align: center;
  margin: 30px;
}

.log-user > input,
.log-pw > input {
  width: 450px;
  height: 35px;
  outline: none;
  border: solid 1px lightgrey;
  transition: border 0.3s ease 0s;
}

.sign-user > input,
.sign-pw > input,
.sign-email > input {
  width: 450px;
  height: 45px;
  outline: none;
  border: solid 1px lightgrey;
  transition: border 0.3s ease 0s;
}

input:focus {
  outline: none;
  border: solid 1px #040404;
}

.log-user, .log-pw, .sign-email, 
.sign-pw, .sign-user {
  padding: 5px;
}

::placeholder {
  color: darkgrey;
  padding: 12px 6px;
  font-size: 12px;
  font-weight: 500;
}

.btn-demo, .btn-login, .btn-to-signup {
  margin: 10px;
}

.btn-demo > button {
  background-color: teal;
  border: none;
  text-align: center;
  text-decoration: none;
  width: 450px;
  height: 50px;
  border-radius: 50px;
  outline: none;
  color: white;
}

.btn-login > button,
.btn-signup > button {
  background-color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  outline: none;
  color: white;
}

.btn-to-signup,
.btn-to-login {
  background-color: white;
  border: solid 3px black;
  text-align: center;
  width: 450px;
  height: 50px;
  border-radius: 50px;
  outline: none;
}

.to-signup,
.to-login {
  text-decoration: none;
  color: grey;
}

.login-page > p {
  font-size: 12px;
  color: lightgrey;
  width: 50%;
}

.birthday {
  width: 450px;
  display: flex;
  align-items: unset;
  justify-content: space-evenly;
}

.birthday > .month > select {
  min-width: 190px;
}

.birthday > .day > input {
  min-width: 85px;
}

.birthday > .year > input {
  min-width: 100px;
}

.radio-gender {
  display: flex;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;       /* Remove default arrow */
   background-image: url(...);   /* Add custom arrow */
}