.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  width: 100%;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.create-playlist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.fa-times {
  position: absolute;
  top: -90px;
}

.fa-times, .new-playlist-title {
  color: white;
  font-size: 48px;
  font-family: helvetica;
  margin: 24px 0;
  transition: font-size ease 0;
}

.fa-times:hover {
  font-size: 50px;
}

.new-playlist-input-box {
  width: 100%;
}

.new-playlist-input-container {
  height: 150px;
  width: 100%;
  background-color: #282828;
  display: flex;
  justify-content: center;
}

.new-playlist-input {
  width: 100%;
  background-color: #282828;
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.new-playlist-input-title {
  color: white;
  font-family: Helvetica;
  font-size: 14px;
  margin-bottom: 5px;
}

.new-playlist-input-box {
  height: 56px;
  width: 800px;
  background-color: inherit;
  border: none;
  outline: none;
  caret-color: slateblue;
  font-size: 48px;
  padding: 1px 0;
  color: white;
  font-weight: 600;
}

.new-playlist-input-box:focus {
  border: none;
}

.new-playlist-input-box::placeholder {
  font-size: 48px;
  color: #535353;
  font-weight: 700;
}

.new-playlist-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 28px 0;
}

.playlist-cancel-btn-box, .playlist-create-btn-box {
  padding: 0 10px;
  display: flex;
}

.playlist-create-btn, .playlist-cancel-btn {
  border-radius: 50px;
  color: white;
  padding: 11px 44px;
  letter-spacing: 1.5px;
  outline: none;
}

.playlist-cancel-btn {
  background-color: #121212;
  border: 1px solid white;
}

.playlist-create-btn {
  background-color: slateblue;
  border: 1px solid slateblue;
}

.playlist-create-btn:hover, .playlist-cancel-btn:hover {
  transition: none 33ms;
  transition-property: all;
  transform: scale(1.06);
}