.musicplayer {
  height: 90px;
  min-width: 744;
  background-color: #282828;
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  justify-content: space-between;
}

.fa-heart {
  margin-left: 20px;
}

.left-side-musicplayer {
  width: 350px;
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

.song-title-musicplayer {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}

.artist-musicplayer {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

.song-title-musicplayer:hover,
.artist-musicplayer:hover {
  color: #ffffff;
  text-decoration: underline;
}



.title-artist, .fa-heart {
  display: block;
  color: #b3b3b3;
}

.middle-musicplayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 40%;
  max-width: 720px;
  color: #b3b3b3;
}

/* @media only screen and (max-width: 790px) {
  
  .musicplayer {
    overflow-x: scroll;
  }
  
  .middle-musicplayer {
    width: 305px;
  }

} */

.middle-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
  align-items: center;
  margin-bottom: 10px;
}

#play-pause {
  padding: 8px 0;
  border: 1px solid #b3b3b3;
  border-radius: 500px;
}

.fa-play, .fa-pause {
  font-size: 14px;
}

#play-pause .fa-pause {
  margin: 0 10px;
}

#play-pause .fa-play {
  margin-right: 9px;
  margin-left: 11px;
}

#play-pause:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  transform: scale(1.06);
  transition-duration: 50ms;
}

.hidden {
  display: none;
}

.right-side-musicplayer {
  width: 350px;
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 15px;
}

.volume {
  color: #b3b3b3;
  margin-right: 5px;
}

.fas:hover,
.far:hover {
  color: #ffffff;
}

.right-controls {
  color: #b3b3b3;
}

/* SLIDERS */

.volume-slider,
.progress-slider {
  -webkit-appearance: none; 
  outline: none; 
  opacity: 0.7; 
  transition: opacity .2s;
  height: 4px;
  background-color: #b3b3b3;
  border-radius: 3px;
}

.volume-slider:hover,
.progress-slider:hover {
  height: 4px;
  background-color: darkslateblue;
  outline: none;
}

.volume-slider::-webkit-slider-thumb, 
.progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  height: 12px;
  width: 12px;
}

.volume-slider:hover::-webkit-slider-thumb,
.progress-slider:hover::-webkit-slider-thumb {
  -webkit-appearance: button; 
  height: 12px;
  width: 12px;
  border: 0;
  z-index: 10;
}