.musicplayer {
  height: 90px;
  width: 100%;
  background-color: #282828;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.left-side-musicplayer {
  width: 230px;
  display: flex;
  justify-content: space-evenly;
}

.song-title-musicplayer {
  color: #ffffff;
}

.title-artist, .fa-heart {
  display: block;
  color: #b3b3b3;
}

.middle-musicplayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-width: 720px;
  color: #b3b3b3;
}

.middle-controls {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.right-side-musicplayer {
  width: 300px;
  display: flex;
  flex-direction: row;
}

.right-controls {
  color: #b3b3b3;
}

.volume-slider,
.progress-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity .2s;
}

.volume-slider::-webkit-slider-thumb, 
.progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  /* appearance: none; */
  height: 5px;
  width: 5px; /* Set a specific slider handle width */
}

.volume-slider:hover::-webkit-slider-thumb,
.progress-slider:hover::-webkit-slider-thumb {
  -webkit-appearance: button;
  height: 5px;
  width: 5px;
}