.musicplayer {
  height: 90px;
  width: 100%;
  background-color: #282828;
  display: flex;
}

.left-side-musicplayer {
  width: 230px;
  display: flex;
  justify-content: space-evenly;
}

.right-side-musicplayer {
  position: absolute;
  right: 10px;
  width: 300px;
  height: inherit;
}

.title-artist {
  display: block;
}
