.scroll-container {
  height: 100%;
}

.playlist-ul {
  height: 100%;
  overflow: visible;
  width: inherit;
  box-sizing: border-box;
}

.playlist-li {
  display: flex;
  align-items: center;
  outline: none;
  height: 32px;
  padding: 0 24px;
}

.playlist-link {
  outline: none;
  text-decoration: none;
  color: #b3b3b3;
  font-family: helvetica;
  font-size: 14px;
}

.playlist-link:focus,
.playlist-link:hover {
  color: white;
  outline: none;
}